/* Fall Color Pallette: https://coolors.co/312229-54101d-47596f-b18653-d5c5ae */

/* Normal Theme: */
/* :root {
    /* Darker Palette: Black #111013 | Soft Yellow #F5EFDF | Accent Yellow #FACE34 */
    /* --primary-accent-color: #CEFF00; /* Volt Green
    --dark-bg: #162936; /* Cyan Blue
    --title-bg: #162936;
    --title-text: #F5EFDF; /* Soft Yellow
    --light-contrast: #F5EFDF;
    --custom-border-width-thick: 0.25rem;
    --custom-border-style: solid;
    --custom-border-radius: 4px;
    --custom-border-width: 2px;
    --font-primary: Futura,Verdana,system-ui,sans-serif;
} */

/* Fall Theme */
:root {
    --primary-accent-color: #D5C5AE;
    --dark-bg: #2B100D;
    --title-bg: #D5C5AE;
    --title-text: #2B100D;
    --light-contrast: #f2eee7;
    --custom-border-width-thick: 0.25rem;
    --custom-border-style: solid;
    --custom-border-radius: 4px;
    --font-primary: ui-serif,Palatino,"Palatino Linotype","Times New Roman",serif;
    --custom-border-width: 2px;
    --custom-border-style: solid;
}

body {
    font-size: 1.2rem;
    /* font-size: 18px; */
    font-family: var(--font-primary);
    font-weight: 400;
    line-height: 1.6;
    color: var(--light-contrast);
    background-color: var(--dark-bg);
}
.container a, a:visited {
    color: var(--light-contrast);
    border-bottom: 2px solid var(--light-contrast);
    text-decoration: none;
}
.container a:hover {
    color: var(--primary-accent-color);
    border-bottom: 2px solid var(--primary-accent-color);
}
.container {
  max-width: 600px;
}
#nav a {
  font-weight: 600;
  color: var(--light-contrast);
  text-decoration: none;
  letter-spacing: .05rem;
}
#nav :hover {
    color: var(--primary-accent-color);
}
#nav-border {
  border-bottom: 2px solid var(--light-contrast);
}
#main {
  margin-top: 1em;
  margin-bottom: 4em;
}
#home-jumbotron {
  background-color: inherit;
}
.font-125 {
  font-size: 125%;
}
.tag-btn {
  margin-bottom: 0.3em;
}
.btn:hover {
    color: var(--dark-bg) !important;
}
img {
  max-width: 100%;
}
.btn {
    text-decoration: none;
}
.custom-title {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin-bottom: 2rem;
    background-color: var(--title-bg);
    border-bottom: 2px solid;
    text-align: center;
}
.custom-title h1 {
    margin-bottom: 0;
    color: var(--title-text);
}
.custom-nav {
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: var(--dark-bg);
}
#nav a {
    margin: 0 1rem 0 1rem;
}
.nav-link {
    text-decoration: none;
    vertical-align: middle;
}
#nav a:hover {
    color: var(--dark-bg) !important;
}
.custom-terms {
    max-width: 250px;
}
.custom-card {
    margin-bottom: 3rem;
    padding: 1rem;
    border-width: 2px;
    border-style: solid;
    border-radius: var(--custom-border-radius);
    box-shadow: 6px 10px var(--light-contrast);
}
.custom-summary {
    margin-top: 0.5rem;
}
.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    list-style: none;
}
.breathing-room {
    margin-bottom: 0.25rem;
}
code {
    border-radius: 4px;
    font-size: 0.875em;
    word-wrap: break-word;
    padding: 0.2em 0.4em;
    color: inherit;
}
.ankle-border {
    border-top: 2px solid var(--light-contrast);
    justify-content: center;
    display: flex;
}
.ko-fi {
    justify-content: center;
    display: flex;
    font-size: 1rem;
}
.ankle-btn {
    margin-top: 1.5rem;
    box-shadow: 3px 4px var(--light-contrast);
}
.ankle-btn:hover {
    box-shadow: none;
}
blockquote {
    padding-left: 1rem;
    border-left-width: var(--custom-border-width-thick);
    border-left-style: var(--custom-border-style);
}
footer {
    margin-top: 2rem;
    padding-top: 2rem;
    border-top: 2px solid var(--light-contrast);
    text-align: center;
}
h2 {
    margin-top: 2rem;
}

/* Pagination */

.custom-paginator {
    margin-top: 2rem;
    padding: 1rem;
}

.custom-paginator-buttons {
    display: flex;
    justify-content: center;
}

.custom-paginator-totals {
    text-align: center;
}

.page-item a {
    text-decoration: none;
    background-color: var(--dark-bg);
}

.page-link:hover {
    color: var(--dark-bg) !important;
}

.disabled {
    opacity: .8;
}

.btn:hover {
    background-color: var(--light-contrast);
    color: var(--dark-bg);
}

/* Email Sub */
input, label {
    margin-bottom: 1rem;
}

input {
    background-color: var(--dark-bg);
    border-width: 2px;
    border-style: solid;
    border-radius: var(--custom-border-radius);
    border-color: var(--light-contrast);
    color: var(--light-contrast) !important;
    padding: 4px;
    letter-spacing: .02rem;
    padding-left: 10px;
    font-size: 1.1rem;
}

.email-sub {
    justify-content: center;
    display: flex;
    padding: 1rem;
    border-width: 2px;
    border-style: solid;
    border-radius: var(--custom-border-radius);
    box-shadow: 6px 10px var(--light-contrast);
    width: 70%;
    margin: auto;
}

.email-sub p {
    font-size: 1rem;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .email-sub {
        width: 100%;
    }

    .next-post, .previous-post {
        display: none;
    }
}

/* Next-Prev Post */
.flex-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    padding-top: .5rem;
    margin-bottom: 1rem;
}

.previous-post { 
    order: 1;
}

.email-btn {
    order: 2;
    flex: 2;
    display: flex;
    justify-content: center;
}
.next-post { 
    order: 3;
}

.disabled {
    pointer-events: none; 
    color: gray; 
    text-decoration: none; 
    border: none;
}

/* img */

img {
    max-width: 100%;
    height: auto;
  }
  
  /* figure */
  
  figure {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 1rem;
    border-width: var(--custom-border-width);
    border-style: var(--custom-border-style);
    border-radius: var(--custom-border-radius);
  }
  
  figcaption {
    padding: 1rem;
    border-top-width: var(--custom-border-width);
    border-top-style: var(--custom-border-style);
    border-bottom-left-radius: var(--custom-border-radius);
    border-bottom-right-radius: var(--custom-border-radius);
  }

  /* table */
table td,
table th
{
  border: var(--custom-border-width) var(--custom-border-style) var(--light-contrast) !important;
  background-color: var(--dark-bg);
  color: var(--light-contrast);
}