/* Fall Color Pallette: https://coolors.co/312229-54101d-47596f-b18653-d5c5ae */
/* Current theme: Pine Green #1d3c45 | Light Peach #fff1e1 | Accent Orange #d2601a */
:root {
    --primary-accent-color: #911715;
    --dark-bg: #faf9f5;
    --title-bg: #faf9f5;
    --title-text: #2c251d;
    --light-contrast: #2c251d;
    --custom-border-width-thick: 0.25rem;
    --custom-border-style: solid;
    --custom-border-radius: 4px;
    --custom-border-width: 2px;
    --custom-link-style: solid;
    --font-primary: Iowan Old Style, Charter, Palatino, Century Schoolbook, Book Antiqua, ui-serif, serif;
}

/* Current theme: Pine Green #1d3c45 | Light Peach #fff1e1 | Accent Orange #d2601a*/
/* :root {
    --primary-accent-color: #d2601a;
    --dark-bg: #1d3c45;
    --title-bg: #1d3c45;
    --title-text: #fff1e1;
    --light-contrast: #fff1e1;
    --custom-border-width-thick: 0.25rem;
    --custom-border-style: solid;
    --custom-border-radius: 4px;
    --custom-border-width: 2px;
    --custom-link-style: solid;
    --font-primary: Iowan Old Style, Charter, Palatino, Century Schoolbook, Book Antiqua, ui-serif, serif;
} */

/* Sport Theme: Cyan Blue #162936 | Soft Yellow #F5EFDF | Nike Volt Green #CEFF00 | Alt: Bright Green #8CC92D
   --font-primary: system-ui, "Segoe UI", Helvetica, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */

/* Library Theme */
/* :root {
    --primary-accent-color: #D5C5AE;
    --dark-bg: #2B100D;
    --title-bg: #D5C5AE;
    --title-text: #2B100D;
    --light-contrast: #f2eee7;
    --custom-border-width-thick: 0.25rem;
    --custom-border-style: solid;
    --custom-border-radius: 4px;
    --custom-link-style: solid;
    --font-primary: Palatino,"Palatino Linotype","Times New Roman",serif;
    --custom-border-width: 2px;
    --custom-border-style: solid;
} */

body {
    font-size: 1.3em;
    /* font-size: 18px; */
    font-family: var(--font-primary);
    font-weight: 400;
    line-height: 1.6;
    color: var(--light-contrast);
    background-color: var(--dark-bg);
}
hr {
    border-top: 1px solid var(--light-contrast);
}
.container a, a:visited:not(.btn):not(.page-link) {
    color: var(--light-contrast);
    border-bottom: 0.125em var(--custom-link-style) var(--light-contrast);
    text-decoration: none;
}
.container a:hover:not(.btn):not(.page-link) {
    color: var(--primary-accent-color);
    border-bottom: 0.125em solid var(--primary-accent-color);
}
.read-more {
    font-size: 1.4rem;
}
/* .container a, a:visited:not(.btn):not(.page-link):not(.next-post):not(.previous-post) {
    color: var(--light-contrast);
    text-decoration: none;
    text-transform: lowercase;
    font-variant: small-caps;
    font-size: 1.2em;
    letter-spacing: .10ch;
    font-weight: 500;
    border-bottom: 0.12em var(--custom-link-style) var(--light-contrast);
}
.container a:hover:not(.btn):not(.page-link):not(.tag-btn) {
    color: var(--primary-accent-color);
} */
.container {
  max-width: 650px;
}
#nav a {
  font-weight: 600;
  color: var(--light-contrast);
  text-decoration: none;
  letter-spacing: .05rem;
}
#nav :hover {
    color: var(--primary-accent-color);
}
#nav-border {
  border-bottom: 2px solid var(--light-contrast);
}
#main {
  margin-top: 1em;
  margin-bottom: 4em;
}
#home-jumbotron {
  background-color: inherit;
}
.font-125 {
  font-size: 125%;
}
.tag-btn {
  margin-bottom: 0.3em;
  font-style: italic;
}
.badge-light {
    color: var(--dark-bg);
    background-color: var(--light-contrast);
}
.btn:hover {
    color: var(--dark-bg) !important;
}
.btn {
    text-decoration: none;
}
.custom-title {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin-bottom: 2rem;
    background-color: var(--title-bg);
    border-bottom: 2px solid;
    text-align: center;
}
.custom-title h1 {
    margin-bottom: 0;
    color: var(--title-text);
    font-size: 2.2rem;
}
.custom-nav {
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: var(--dark-bg);
}
#nav a {
    margin: 0 1rem 0 1rem;
}
.nav-link {
    font-style: italic;
    vertical-align: middle;
}
#nav a:hover {
    color: var(--primary-accent-color) !important;
}
.custom-terms {
    max-width: 250px;
}
.custom-card {
    margin-bottom: 2rem;
    padding: 1rem;
    padding-left: 1.3em;
    padding-right: 1.3em;
    /* border-width: 2px;
    border-style: solid;
    border-radius: var(--custom-border-radius);
    box-shadow: 6px 10px var(--light-contrast); */
}
.custom-summary {
    margin-top: .8rem;
}
.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    list-style: none;
}
.breathing-room {
    margin-bottom: 0.2rem;
}
/* code {
    border-radius: var(--custom-border-radius);
    font-size: 0.875em;
    word-wrap: break-word;
    padding: 0.2em 0.4em;
    color: inherit;
    background-color: rgb(0,0,0,0.5);
} */

/* code */

pre,
code {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: var(--custom-border-radius);
}

pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 1rem;
  overflow: auto;
  font-size: 0.875em;
}

pre,
pre code {
  word-wrap: normal;
}

pre code {
  font-size: inherit;
  word-break: normal;
  padding: 0;
  color: inherit;
  background-color: transparent;
  border: none;
}

code {
  font-size: 0.875em;
  word-wrap: break-word;
  padding: 0.2em 0.4em;
  color: inherit;
}

a>code {
  color: inherit;
}


.ankle-border {
    border-top: 2px solid var(--light-contrast);
    padding-top: 1em;
    justify-content: center;
    display: flex;
}
.ko-fi {
    justify-content: center;
    display: flex;
    font-size: 1rem;
}
.ankle-btn {
    margin-top: 1.5rem;
    box-shadow: 3px 4px var(--dark);
}
.ankle-btn:hover {
    box-shadow: none;
}
blockquote {
    padding-left: 1rem;
    border-left-width: var(--custom-border-width-thick);
    border-left-style: var(--custom-border-style);
}
footer {
    margin-top: 2rem;
    padding-top: 2rem;
    /* border-top: 2px solid var(--light-contrast); */
    text-align: center;
}
h2 {
    margin-top: 2rem;
}

/* Pagination */

.custom-paginator {
    margin-top: 2rem;
    padding: 1rem;
}

.custom-paginator-buttons {
    display: flex;
    justify-content: center;
}

.custom-paginator-totals {
    text-align: center;
}

.page-item a {
    text-decoration: none;
    background-color: var(--dark-bg);
    color: var(--light-contrast);
}

.page-link:hover {
    color: var(--dark-bg) !important;
    background-color: var(--light-contrast);
}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.disabled {
    opacity: .8;
}

.btn:hover {
    background-color: var(--light-contrast);
    color: var(--dark-bg);
}

/* Email Sub */
input, label {
    margin-bottom: 1rem;
}

input {
    background-color: var(--dark-bg);
    border-width: 2px;
    border-style: solid;
    border-radius: var(--custom-border-radius);
    border-color: var(--light-contrast);
    color: var(--light-contrast) !important;
    padding: 4px;
    letter-spacing: .02rem;
    padding-left: 10px;
    font-size: 1.1rem;
}

.email-sub {
    justify-content: center;
    display: flex;
    padding: 1rem;
    border-width: 2px;
    border-style: solid;
    border-radius: var(--custom-border-radius);
    box-shadow: 6px 10px var(--light-contrast);
    width: 70%;
    margin: auto;
}

.email-sub p {
    font-size: 1rem;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    body {
        font-size: 1.1em;
    }

    .email-sub {
        width: 100%;
    }

    .next-post, .previous-post {
        display: none;
    }
}

/* Next-Prev Post */
.flex-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 2rem;
    margin-bottom: 1rem;
}

.previous-post { 
    order: 1;
}

.email-btn {
    order: 2;
    flex: 2;
    display: flex;
    justify-content: center;
}
.next-post { 
    order: 3;
}

.disabled {
    pointer-events: none; 
    color: gray; 
    text-decoration: none; 
    border: none;
}

/* img */

img {
    max-width: 100%;
    height: auto;
}

/* ul {
    display: grid;
    place-content: center;
} */
  
/* figure */

figure {
    margin-top: 0;
    margin-bottom: 3rem;
    display: grid;
    place-items: center;
    margin-left: auto;
    margin-right: auto;
    /* border-width: var(--custom-border-width);
    border-style: var(--custom-border-style);
    border-radius: var(--custom-border-radius); */
}

figcaption {
    padding: .5rem;
    font-style: italic;
    /* border-top-width: var(--custom-border-width);
    border-top-style: var(--custom-border-style);
    border-bottom-left-radius: var(--custom-border-radius);
    border-bottom-right-radius: var(--custom-border-radius); */
}

.container figure a, a:visited:not(.btn):not(.page-link) {
    border-bottom: none;
    text-decoration: none;
}
.container figure a:hover:not(.btn):not(.page-link) {
    border-bottom: none;
    text-decoration: none;
}

/* table */

table{
    font-size: .75em;
    width: 100%;
    border-collapse: collapse;
    font-family: Dank Mono,Operator Mono,Inconsolata,Fira Mono,ui-monospace,SF Mono,Monaco,Droid Sans Mono,Source Code Pro,monospace;
    margin-bottom: 2rem;
    border-bottom: 1px solid var(--light-contrast);
}

table th{
    text-align: left;
    white-space: nowrap;
    font-weight: normal;
}

table thead th {
    letter-spacing: .05em;
    text-transform: uppercase;
    border-bottom: 2px solid var(--light-contrast);
    padding: .5rem 1rem;
}

table tbody td,table tbody th{
    vertical-align: top;
    border: 0;
    border-top: 1px solid var(--light-contrast);
    padding: .5rem 1rem;
}

table td[colspan]{ border:0; }[scope="rowgroup"] {background: var(--light-contrast);} table :last-child{ margin-bottom: 0; }