:root {
    --primary-accent-color: #72bf8c;
    --dark-bg: #222222;
    --title-bg: #2d2d2d;
    --code-bg: #4d4d4d;
    --light-contrast: #efefef;
}
body {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6;
    color: var(--light-contrast);
    background-color: var(--dark-bg);
}
.container a, a:visited {
    color: var(--light-contrast);
    border-bottom: 2px solid var(--light-contrast);
    text-decoration: none;
}
.container a:hover {
    color: var(--primary-accent-color);
    border-bottom: 2px solid var(--primary-accent-color);
}
.container {
  max-width: 700px;
}
#nav a {
  font-weight: bold;
  color: var(--light-contrast);
  text-decoration: none;
}
#nav :hover {
    color: var(--primary-accent-color);
}
#nav-border {
  border-bottom: 2px solid var(--light-contrast);
}
#main {
  margin-top: 1em;
  margin-bottom: 4em;
}
#home-jumbotron {
  background-color: inherit;
}
.font-125 {
  font-size: 125%;
}
.tag-btn {
  margin-bottom: 0.3em;
}
.btn:hover {
    color: var(--dark-bg) !important;
}
img {
  max-width: 100%;
}
.btn {
    text-decoration: none;
}
.custom-title {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
    background-color: var(--title-bg);
    border-bottom: 2px solid;
    text-align: center;
}
.custom-title h1 {
    margin-bottom: 0;
}
.custom-nav {
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: var(--dark-bg);
    
}
#nav a {
    margin: 0 1rem 0 1rem;

}
.nav-link {
    text-decoration: none;
    vertical-align: middle;
}
#nav a:hover {
    color: var(--dark-bg) !important;
}
.custom-terms {
    max-width: 250px;
}
.custom-card {
    margin-bottom: 3rem;
    padding: 1rem;
    border-width: 2px;
    border-style: solid;
    border-radius: 4px;
    box-shadow: 6px 10px var(--light-contrast);
}
.custom-summary {
    margin-top: 0.5rem;
}
.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    list-style: none;
}
.breathing-room {
    margin-bottom: 0.25rem;
}
code {
    background-color: var(--code-bg);
    border-radius: 4px;
    font-size: 0.875em;
    word-wrap: break-word;
    padding: 0.2em 0.4em;
    color: inherit;
}