{{ $dateTime := .PublishDate.Format "2006-01-02" }}
{{ $dateFormat := .Site.Params.dateFormat | default "Jan 2, 2006" }}
<div class="flex-container">
  <div class="flex-item">
    <time datetime="{{ $dateTime }}">{{ .PublishDate.Format $dateFormat }}</time>
  </div>
  <div class="flex-item">
    {{ with .Params.tags }}
      {{ range . }}
        {{ $href := print (relURL "tags/") (urlize .) }}
          <a class="btn btn-sm btn-outline-light tag-btn" href="{{ $href }}">{{ . }}</a>
        {{ end }}
    {{ end }}
  </div>
</div>