<div class="email-sub justify-content-center">
  <form
    action="https://buttondown.email/api/emails/embed-subscribe/scottk"
    method="post"
    target="popupwindow"
    onsubmit="window.open('https://buttondown.email/scottk', 'popupwindow')"
    class="embeddable-buttondown-form"
  >
    <label for="bd-email" style="font-size: 1.3rem">Want to receive future posts via email?</label>
    <br>
    <input type="email" name="email" id="bd-email" placeholder="jane@example.com" />
    <br>
    <input type="submit" value="Subscribe" class="btn btn-md btn-outline-light" />
    <br>
    <p>If you prefer RSS, you can <a href="https://scottk.mba/blog/index.xml">get the blog feed here</a>.</p>
  </form>
</div>