<div class="ankle-border justify-content-center flex-wrapper">
    <div class="previous-post">
        {{ if .PrevInSection }}
            {{ with .PrevInSection }}
                <a class="link-reverse" href="{{ .RelPermalink }}">« Last Post</a>
            {{ end }}
        {{ else }}
        <a class="link-reverse" href="#" style="pointer-events: none; color: gray; text-decoration: none; border: none;">« Last Post</a>
        {{ end }}
    </div>
    <div class="email-btn">
        <a href="mailto:{{ .Site.Params.Author.email }}?subject=Re: {{ .Title }}">Reply via email</a> 
    </div>
    <div class="next-post">
        {{ if .NextInSection }}
            {{ with .NextInSection }}
                <a class="link-reverse" href="{{ .RelPermalink }}">Next Post »</a>
            {{ end }}
        {{ else }}
        <a class="link-reverse" href="#" style="pointer-events: none; color: gray; text-decoration: none; border: none;">Next Post »</a>
        {{ end }}
    </div>
</div>