{{ define "main" }}
  <div class="container">
    {{ partial "toc.html" . }}
    {{ .Content }}

      {{ range ( where .Site.RegularPages "Type" "blog" | first 7 ) }}
        <div class="custom-card">
          <a class="font-125 breathing-room" href="{{ .RelPermalink }}">{{ .Title }}</a>
          <br>
          <div class="breathing-room custom-summary">{{ .Summary }}</div>
          {{ partial "date-and-tags.html" . }}
        </div>
      {{ end }}
    
    <br />
    <div class="email-btn">
      <a class="read-more" href="/blog/">Read More ➳</a>
    </div>

    {{ partial "footer.html" . }}
  </div>
{{ end }}